<h2>Edit Sub Category</h2>

<%= form_for @sub_category do |f| %>
  <% if @sub_category.errors.any? %>
  <h3>
    Errors:
    <ul>
      <% @sub_category.errors.full_messages do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </h3>
  <% else %>
    <%= f.label :name %><br/>
    <%= f.text_field :name %><br/>
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select Category" %><br/>
    <%= f.submit %>
  <% end %> 
<% end %>